<strong>Olá, {{ name }}!</strong>
<p>Você está com uma dívida em nossa cantina que vencerá em breve. </p>
<p>Mais detalhes: </p>
<p>
    <strong>Cliente: </strong> {{ name }} <br /> 
    <strong>Núcleo: </strong> {{ core }} <br /> 
    <strong>Valor: </strong> R${{ balance }} <br />
    <strong>Vencimento: </strong> 15 de Junho de 2019 <br /> 
    <br />
    <small>
        O pagamento deverá ser efetuado até a data de vencimento. <br />
        Após este prazo poderá acarretar juros corridos.
    </small>
</p>